<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
            <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
</head>
<body>
     <div class="container"></div>
    {{>header}}
    <h1 style="text-align: center;">Welcome To {{title}} Page</h1>
    
        {{!-- <img src="./images/my.jpg"> --}}
        

    <p style="text-align: center;">Created By {{developer}}</p>
   </div>
    
</body>
</html>