<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta name="description" content="This is A Website For Weather">
        <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <script defer src="js/app.js"></script>
</head>

<body>
     {{>header}}
     <div class="container">
      <h2 style="text-align: center;">{{title}}</h2>
      <div class="center">
      <form class="form">
          <input placeholder="location" type="text" id="button">
          <button id="button">Submit</button>
           <p id="dataOne" style="text-align: center;"></p>
           <p id ="dataTwo" style="text-align: center;"></p>
      </form>
      </div>
</div>
<div class="footer">
       <h3 style="text-align: center;">Created By <a href="url" target="_blank">Arjun Adhikari</a></h2>

</div>
</body>

</html>