<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <link rel="icon" href="/images/icon.png">

    <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
    <script defer src="js/app.js"></script>
</head>

<body>
     {{>header}}
      <h2 style="text-align: center;">{{title}}</h2>
      <form>
          <input placeholder="location" type="text">
          <button>Submit</button>
      </form>
      <p id="dataOne"></p>
      <p id ="dataTwo"></p>
     <h2 style="text-align: center;">Created By Arjun Adhikari</h2>

</body>

</html>