
*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}
h1{
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: aliceblue;
}

.nav-bar{
list-style: none;
padding: 0px;
margin: 0px;
overflow: auto;
background: #4c6ca0;
margin:auto;
padding: 0 7px;
}
.nav-bar li{
float: left;
}
.nav-bar li a{
color: aliceblue;
display: block;
text-decoration: none;
padding: 10px 8px;
}
.nav-bar li a:hover{
background: #4a72b4;
color: beige;
}
.center{
    text-align: center;
}
.container{
    max-width: 900px;
     margin: 30px auto;
 }
 .form{
     margin: 40px auto;
 }
  
 button{
    margin: 0 auto;
}

.footer {
  position: fixed;
  padding: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #4c6ca0;
  color: white;
  text-align: center;
}